.catalog {
    margin-bottom: 120px;
}

.catalog__header {
    margin-bottom: 45px;
    background-color: $main-gray;
}

.catalog__header-wrapper {
    transform: skew(30deg) translateX(20px);
    box-shadow: -30px 0 $main-gray, -60px 0 #fff;
     background-color: #fff;
}

.catalog__content-wrapper {
    position: relative;
}

.catalog__list {
    @include reset-list;
}

.catalog__item {
    cursor: pointer;
    &:hover {
        & .catalog__info {
            
            transform: scaleY(1.1);
            background-color: $main-blue;
        }
    }
}

.catalog__info {
    display: block;
    padding: 42px 30px;
    background-color: #1f1f1f;
    color: #fff;
    transform-origin: bottom;
    transition: all 0.5s;

}

.catalog__name {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.catalog__title {
    margin: 0;
    padding: 0;
    transform: skew(-30deg);
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.catalog__slider-button {
    position: absolute;
    width: 48px;
    height: 80px;
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
        &:hover { 
            &::after,
            &::before {
                background-color: $main-blue;
            }
        }
        &--prev {
            transform: rotate(180deg);
            left: 50%;
            bottom: -80px;
            margin-left: -75px;
            z-index: 200;
        }
        &--next {
            right: 50%;
            bottom: -80px;
            margin-right: -75px;
            z-index: 200;
        }
}

.catalog__slider-button div {
        position: relative;
        width: 100%;
        height: 100%; 
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: $main-gray;
            }
            &::before {
                transform: rotate(45deg);
                top: 32px;
                left: 15px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 32px;
                left: 15px;
            }
}

.catalog__button {
    display: none;
    min-width: 247px;
}

@media (min-width: $tablet-width) {
    .catalog__title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (min-width: $desktop-width) {
    .catalog {
        margin-bottom: 0;
    }

    .catalog__header {
        margin-bottom: 85px;
    }

    .catalog__title {
        font-size: 48px;
        line-height: 56px;
    }

    .catalog__list {
        margin-bottom: 55px;
    }

    .catalog__slider-button {
        &--prev {
            left: 0;
            top: 50%;
            margin-top: -40px;
        }
        &--next {
            right: 0;
            top: 50%;
            margin-top: -40px;
        }
    }

    .catalog__button {
        display: block;
        margin: 0 auto;
        margin-bottom: 110px;
    }
}