.state-order__header {
    margin-bottom: 45px;
    background-color: $main-gray;
}

.state-order__header-wrapper {
    // margin-left: -40px;
    transform: skew(30deg); 
    box-shadow: 30px 0 $main-gray, 60px 0 #fff;
    background-color: #fff;
}

.state-order__title {
    margin: 0;
    padding: 0;
    transform: skew(-30deg);
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.state-order__cart {
    height: 346px;
        &--cart-1 {
            &:hover {
                & .state-order__cart-image {
                   background-image: url(../img/icons/icons_state_dark/1.png);
                }
            }
        }
        &--cart-2 {
            &:hover {
                & .state-order__cart-image {
                   background-image: url(../img/icons/icons_state_dark/2.png);
                }
            }
        }
        &--cart-3 {
            &:hover {
                & .state-order__cart-image {
                   background-image: url(../img/icons/icons_state_dark/3.png);
                }
            }
        }
        &--cart-4 {
            &:hover {
                & .state-order__cart-image {
                   background-image: url(../img/icons/icons_state_dark/4.png);
                }
            }
        }
        &--cart-5 {
            &:hover {
                & .state-order__cart-image {
                   background-image: url(../img/icons/icons_state_dark/5.png);
                }
            }
        }
        &--cart-6 {
            &:hover {
                & .state-order__cart-image {
                   background-image: url(../img/icons/icons_state_dark/6.png);
                }
            }
        }
}

.state-order__cart-image {
    &--image-1 {
        background-image: url(../img/icons/icons_state_light/1.png);
        background-size: 110px auto;
    }
    &--image-2 {
        background-image: url(../img/icons/icons_state_light/2.png);
        background-size: 119px auto;
    }
    &--image-3 {
        background-image: url(../img/icons/icons_state_light/3.png);
        background-size: 142px auto;
    }
    &--image-4 {
        background-image: url(../img/icons/icons_state_light/4.png);
        background-size: 110px auto;
    }
    &--image-5 {
        background-image: url(../img/icons/icons_state_light/5.png);
        background-size: 110px auto;
    }
    &--image-6 {
        background-image: url(../img/icons/icons_state_light/6.png);
        background-size: 110px auto;
    }
}

.state-order__buttons {
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 50px;
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.state-order__button {
    width: 115px;
    background-color: #fff;
    border: 1px solid $main-gray;
    color: $main-gray;
        &:hover {
           background-color: $main-gray;
           color: #fff;
        }
}

@media (min-width: $tablet-width) {
    .state-order__title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (min-width: $desktop-width) {
    .state-order__header {
        margin-bottom: 97px;
        margin-left: 30px;
        background-image: linear-gradient(to right, #fff 30%, transparent 30%);
    }

    .state-order__header-wrapper {
        // transform: skew (30deg), translateX(-90px);
        margin-left: -50px;
    }

    .state-order__title {
        font-size: 48px;
        line-height: 56px;
    }

    .state-order__buttons {
        width: 420px;
        margin-top: 65px;
        margin-bottom: 95px;
    }

    .state-order__button {
        width: 195px;
    }
}
